body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.page-header{
    border-bottom: 1px solid #e7e9fc;
    width: 1440px;
    height: 72px;
}

.logo-header{
    width: 115px;
    height: 24px;
}

.logo-part{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.nav-list{
    width: 261px;
    height: 24px;
}

.nav-item{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 40px;
}

.conacts-list{
    display: flex;
}

.conacts-item{
    display: inline-block;
    margin-right: 40px;
}

.section-start{
    width: 1440px;
    height: 600px;
    background: #2e2f42;
}